body{
	margin: 0px;
	padding: 20px 0;
	font-size: 18px;
	font-family: Helvetica, Arial, 'Lucida Grande';
	font-weight: 300;
}

.header{
	padding: 0 10px;
	color: #654;
	background-color: #fff;
	text-align: center;
	height: 48px;
	line-height: 48px;
}

.footer{
	padding: 5px;
	font-style: italic;
	font-size: small;
	text-align: center;
}

#coords{
	padding: 20px;
	text-align: center;
}

#map{
	margin: 20px 0;
	border: 1px solid;
	height: 500px;
}